# Let's look at what you've learned so far!

Below is a series of challenges that take you through the skills and knowledge we've covered in class so far. Some of it might be quite challenging, and some of it might be quite easy.
Underneath some of the cells is a hint which is either a code snippet, a prompt to google, or a link to a stackoverflow post. Being able to read other people's code and apply it to your own problem is super useful and something I want you to get used to, because 90% of coding is just that - stealing :)

In [6]:
# packages 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

[nltk_data] Downloading package gutenberg to
[nltk_data]     /Users/miajacobsen/nltk_data...
[nltk_data]   Package gutenberg is already up-to-date!

True

## Challenge 1 - working with lists

Make a list (called my_list) of twenty things - it can be names, fruits, movies, etc. Make some of the twenty things be repetitions of themselves, e.g., have tomato in there 3 times and potato twice but lettuce only once (total of 6 things out of twnety)

In [3]:
my_list = ['kvinde', 'kend', 'din', 'krop', 'og',
           'usynlige', 'kvinde', 'og','din', 'nat', 
           'skal', 'overleve', 'og','den', 'usynlige', 
           'sang','den', 'og','usynlige', 'barn']

print(my_list)

['kvinde', 'kend', 'din', 'krop', 'og', 'usynlige', 'kvinde', 'og', 'din', 'nat', 'skal', 'overleve', 'og', 'den', 'usynlige', 'sang', 'den', 'og', 'usynlige', 'barn']

Make a list of all the unique things in the list

In [4]:
unique_list = set(my_list)
print(unique_list)

{'den', 'overleve', 'krop', 'usynlige', 'din', 'og', 'sang', 'kvinde', 'barn', 'kend', 'skal', 'nat'}

Imagine we want a dataframe where:
    the first column is the list of unique items in our list (easy)
    the second column is the length of the word in the first column (medium)
    the third column is how many times that word appeared in the original list (hard)
    
e.g., 
    unique_list   length    count
    tomato        6         3
    potato        6         2
    lettuce       7         1

There are a few different ways to solve this so I'll give a few different hints

In [22]:
df = pd.DataFrame(unique_list)

df['len'] = df[0].str.len()

count = []

for i in unique_list:
    count.append(my_list.count(i))

df['count'] = count

In [23]:
# when you've solved it, the code below should show the first five rows of your dataframe

df.head()

          0  len  count
0       den    3      2
1  overleve    8      1
2      krop    4      1
3  usynlige    8      3
4       din    3      2

## Challenge 2

In [29]:
url = 'https://osf.io/download/r7udh/'

df = pd.read_csv(url)

df.head()

,Participant.ID,Version,Set,Subset,Baseword,Diversity,Item,Question,Response.Box,Response,Score
0,1,B2,B,2,shirt,low,hust,Earlier you read about a type of shirt that wa...,1,stretchy,3.0
1,1,B2,B,2,shirt,low,hust,Earlier you read about a type of shirt that wa...,2,can't be torn,NaN
2,1,B2,B,2,shirt,low,hust,Earlier you read about a type of shirt that wa...,3,stain proof,NaN
3,1,B2,B,2,shirt,low,hust,Earlier you read about a type of shirt that wa...,4,NaN,NaN
4,1,B2,B,2,shirt,low,hust,Earlier you read about a type of shirt that wa...,5,NaN,NaN

Answer the following questions: 
- how many rows and columns are in the data?
- how many unique participants are in the data?
- how many NaN's are in the whole data? how many in the Response column and how many in the Score column? ( https://datatofish.com/count-nan-pandas-dataframe/ ) 
- remove the NaN's from the data, and answer the first two Q's again
- what is the mean score for each participant? what about the score for each participant for each word in item? 
- what is the mean score for each participant in each diversity condition? 
- what is the mean score for only the word 'shirt'? what about the mean score for 'shirt' in each diversity condition?
- come up with your own interesting question :-)

In [30]:
print(df.shape)
print(len(df['Participant.ID'].unique()))

(5600, 11)
100

In [31]:
df = df.dropna()
print(df.shape)
print(len(df['Participant.ID'].unique()))

(800, 11)
100

In [53]:
id_mean = df.groupby(['Participant.ID'])['Score'].mean()
id_item_mean = df.groupby(['Participant.ID', 'Diversity'])['Score'].mean()
id_div_mean = df.groupby(['Participant.ID', 'Diversity'])['Score'].mean()

In [59]:
shirt_mean = df.loc[df['Baseword'] == 'shirt']['Score'].mean()
shirt_div = df.loc[df['Baseword'] == 'shirt'].groupby('Diversity')['Score'].mean()
shirt_div

Diversity
high    2.08
low     3.72
Name: Score, dtype: float64